* {
    margin: 0px;
    padding: 0px;
}

#top {
width:100%;
height: 50vh;
background-color: blue;
}

#left {
float: left;
width:50%;
height: 80vh;
background-color: rgb(0, 255, 128);
}

#right {
float: right;
width:50%;
height: 80vh;
background-color: rgb(23, 23, 24);
}

#bottom {
margin-top: 80vh;
width: 80%;
height: 100vh;
background-color: blue;
}

#nav ul{
list-style: none ;
}

.nav li {
    list-style: none;
}