*{
    margin: 0px;
    padding: 0px;
}

#table{
    width: 70%;
    margin: auto;
    text-align: center;
}

#table,tr,th,td {
    border: 1px solid rgb(235, 8, 8);
    background-color: rgb(145, 199, 155);
    border-collapse: collapse;
}

#sidebar {
    background-color: rgb(6, 38, 244);
    width: 10%;
    height: 100vh;
    float: left;
}

#main{
    width: 90%;
    height: 100vh;
    float: right;
}

#main iframe{
    width: 100%;
    height:100vh;

}

